.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout{
  display: flex;
}

.header {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  background-color: $color-sidebar;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: $player-height;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: $space-lg;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $player-height;
  background-color: $color-player;
  border-top: 0.1rem solid $color-border;
}

@include respond(desktop) {
  .layout {
    display: flex;
  }

  .sidebar {
    display: block;
  }
}