.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

.header {
  height: 6rem;
  padding: 0 $space-lg;

  @include flex-between;

  background: $color-bg-primary;
  border-bottom: 0.1rem solid $color-border;
}

/* wrapper */

.layout {
  flex: 1;
  display: flex;
  min-height: 0;
}

/* sidebar */

.sidebar {
  width: $sidebar-width;
  background: $color-sidebar;
  padding: $space-lg $space-md;
  border-right: 0.1rem solid $color-border;
  flex-shrink: 0;
}

/* content */

.content {
  flex: 1;
  min-width: 0;   
  overflow-y: auto;
  padding: $space-lg;
  padding-bottom: calc($player-height + $space-lg);
}