.header {
  backdrop-filter: blur(10px);
  background: rgba(18, 18, 18, 0.8);
  height: 6rem;
  padding: 0 $space-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid $color-border;
}

.header-list {
  display: flex;
  align-items: center;
  gap: $space-lg;
}

.header-button {
  display: flex;
  align-items: center;
  gap: $space-sm;

  padding: $space-sm $space-md;

  background: none;
  border: none;
  border-radius: $radius-sm;
  color: $color-text-secondary;
  transition: $transition-base;
}

.header-button:hover {
  background: $color-hover;
  color: $color-text-primary;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: $space-sm;
}

.icon-button {
  width: 3.6rem;
  height: 3.6rem;

  border-radius: 50%;
  border: none;

  background: $color-bg-secondary;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: $transition-base;
}

.icon-button:hover {
  background: $color-hover;
}

.lock-btn.active {
  background: $color-accent;
}

.lock-btn.active svg {
  stroke: #fff;
}


//  discover-ისთვის

.discover {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.discover-card {
  display: flex;
  align-items: center;
  gap: 6rem;
  min-height: 80vh;
}

.discover-image img {
  width: 420px;
  border-radius: 20px;
}

.playlist {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cover {
  width: 160px;
  border-radius: 12px;
}

.text h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.text p {
  color: #9ca3af;
  font-size: 1.4rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.tags {
  margin-top: 1rem;
}

.tags span {
  border: 1px solid #3f3f46;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  margin-right: 8px;
}

.discover-image {
  position: relative; /* აუცილებელია overlay-სთვის */
}

.line-icon {
  position: absolute;
  bottom: 16px;       /* სურათის ქვედა ნაწილი */
  left: 50%;           /* შუაში */
  transform: translateX(-50%);
  width: 60px;         /* ზომა შეგიძლიათ შეცვალოთ */
  cursor: pointer;
  transition: transform 0.2s;
}

.line-icon:hover {
  transform: translateX(-50%) scale(1.1); /* hover effect */
}