Li.sidebar {
  background: $color-sidebar;
  width: $sidebar-width;
  padding: $space-lg;
  
  .sidebar-nav {
    margin-bottom: $space-lg;
  }
  
   button.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }
  
  .sidebar-item {
    list-style: none;
  }
  
 button.sidebar-link {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    
    padding: $space-sm $space-md;
    border-radius: $radius-sm;

    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;

    color: $color-text-secondary;

    font-size: 1.4rem;


    cursor: pointer;
    transition: $transition-base;
    
    &:hover {
      background-color: white;
      color: $color-text-primary;
    } 
  }
  
  .sidebar-icon,
  .sidebar-right-icon {
    display: flex;
    align-items: center;
  }

  .sidebar-icon img,
  .sidebar-right-icon img {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
  }

  .sidebar-icon img {
    margin-right: $space-sm;
  }
  
  .sidebar-text {
    flex: 1;
    text-align: left;

    @include truncate;
  }
  
  .sidebar-right-icon {
    opacity: 0.6;
    margin-left: auto;
  }
}
