.sidebar {
  display: none;
  width: $sidebar-width;
  flex-shrink: 0;
  background: $color-sidebar;
  padding: $space-lg $space-md;
  border-right: 0.1rem solid $color-border;
 }

@include respond(desktop) {
  .sidebar {
    display: block;
  }
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
}

.sidebar-link {
  width: 100%;
  display: grid;
  grid-template-columns: 2.4rem 1fr auto;
  align-items: center;
  gap: $space-md;
  padding: $space-sm $space-md;
  border-radius: $radius-sm;
  background: none;
  border: none;
  color: $color-text-secondary;
  transition: $transition-base;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  gap: $space-md;
}

.sidebar-text {
  margin-left: $space-md;
}

.sidebar-link:hover {
  background: $color-hover;
  color: $color-text-primary;
}

